p{
  width: 600px;
  text-align: center;
  font-size: 34px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}
.text_1,.text_2{
  width: 600px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
  margin-top: 70px;
}
.mainBody{
  width: 650px;
  height: 300px;
  margin: 0 auto;
  margin-top: 190px;
  border-radius: 20px;
  background-color: rgba(197, 189, 189, 0.4);
  cursor: pointer;
}
.mainBody:active{
  transition-property: all;
  transition-timing-function: linear;
  opacity: 0;
  /* animation: falsh 5s linear infinite normal; */
}
body{
  background: url(1555234726717.jpeg) no-repeat;
  background-size:  100%;
}