<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
  </head>
  <body>
    <input type="text" placeholder="原手机号码" id="oldphone">
    <br>
    <br>
    <input type="text" placeholder="起一个新的名字" id="uname">
    <input type="text" placeholder="输入新的手机号" id="uphone">
    <input type="text" placeholder="是1否0为会员" id="umember">
    <button id="btn">提交修改</button>
    <script>
      // 1. 获取元素
      var uname = document.getElementById('uname');
      var uphone = document.getElementById('uphone');
      var umember = document.getElementById('umember');
      var oldphone = document.getElementById('oldphone');
      var btn = document.getElementById('btn');

      // 2.点击事件
      btn.onclick = function(){
        var unameval = uname.value;
        var uphoneval = uphone.value;
        var umemberval = umember.value;
        var oldphoneval = oldphone.value;
        //   新名字    新电话     更新会员     旧电话
        ajax(unameval,uphoneval,umemberval,oldphoneval);
      };

      // 3. ajax函数
      function ajax(x,y,z,u){
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
          if(xhr.responseText == 4){
            if(xhr.status >= 200 && xhr.status < 300){
              // console.log(responseText);
              var result = JSON.parse(xhr.responseText);
              alert(result.msg);
            };
          };
        };
        xhr.open('PUT','/user/edit',true);
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded;charset=utf-8");
        xhr.send(`uname=${x}&uphone=${y}&umember=${z}&oldphone=${u}`);
      };
    </script>
  </body>
</html>