.d1{
  width: 100px;
  height: 100px;
  background-color: red;
}
.d2{
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 20px;
}
.d3{
  // 多重继承
  @extend .d1,.d2;
  background-color: green;
}
.d4{
  @extend .d3;
}
%btn{
  width: 100px;
  height: 100px;
}
.d5{
  @extend %btn;
  background-color: grey;
}