<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <table border="1">
        <thead>
          <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>手机号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in teachers">
            <td>{{index+1}}</td>
            <td v-for="item in item">{{item}}</td>
            <td><button @click="btns(index)">删除</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="../../vendor/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          teachers: [
            { name: "亮亮", age: 34, phone: "18787878789" },
            { name: "亚楠", age: 18, phone: "18787875555" },
            { name: "小新", age: 32, phone: "18787434897" },
            { name: "铭铭", age: 35, phone: "18783447897" },
            { name: "贾", age: 37, phone: "18787545697" },
          ],
        },
        methods: {
          btns(index) {
            this.teachers.splice(index, 1)
          },
        },
      })
    </script>
  </body>
</html>
