<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 
      双向数据绑定：
      1. 方向1 - 数据绑定到dom元素上
      2. 方向2 - 表单元素：输入框，单选框，多选框，下拉框... 用户可以操作 来修改其值 -- 把用户的值更新给数据
        简单来说：dom变化 更新绑定的数据
    -->
    <div id="app">
      <!-- form表单元素：特色是与用户可以交互 -->
      <!-- 用 v-model ；来替代 value 属性 -->
      <!-- v-model: 数据绑定值的同时 dom变化也会修改变量 -->
      <input type="text" v-model="uname" />
      <div>{{uname}}</div>
      <hr />
      <!-- 用途: 获取输入框的值 -->
      <input type="password" v-model="upwd" />
      <button @click="doLogin">登录</button>
    </div>

    <script src="../vendor/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          uname: "liang",
          upwd: "",
        },
        methods: {
          doLogin() {
            // 由于双向绑定的存在 变量的值一定和dom元素的值相同
            console.log("用户名：", this.uname)
            console.log("密码：", this.upwd)
          },
        },
      })
    </script>
    <!-- v-model: 用来快速获取form里面的值 -->
  </body>
</html>
