<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="word" @keyup="doEnter" />
      <hr />
      <!-- 
        作者知道用户通常需要过滤keyCode 所以提供了简化写法
        @keyup.13 自动过滤 keyup.13 的事件
       -->
      <input type="text" v-model="word" @keyup.13="doEnter1" />
      <p>{{word}}</p>
    </div>

    <script src="../vendor/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          word: "121",
        },
        methods: {
          doEnter(e) {
            // console.log(e)
            if (e.keyCode == 13) {
              console.log("回车触发:", this.word)
            }
          },
          doEnter1(e) {
            console.log("回车触发:", this.word)
          },
        },
      })
    </script>
  </body>
</html>
