@charset "utf-8";
// div .box > div > p > a > span
.box{
  width: 200px;
  height: 200px;
  background-color: red;
  div{
    margin-left: 20px;
    p{
      &{
        font-size: 20px;
      }
    }
  }
}
.box{
  .item{
    background-color: yellow;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
    img{
      float: left;
    }
    p{
      float: left;
    }
  }
}